.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005f6b;
    padding: 10px 20px;
    color: white;
  }
  
  .logo img {
    height: 40px;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  